# Flutter / Dart
**/.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/pubspec.lock
 
# Node.js
**/node_modules/
services/**/.env
 
# IDE
.vscode/
.idea/
*.iml
 
# macOS
.DS_Store
 